@import "primeicons/primeicons.css";

p-toast {
    width: calc(100% - 40px) !important;
    max-width: calc(100% - 40px) !important;

    @media (min-width: 768px) {
        width: 100% !important;
        max-width: 25rem !important;
    }

    .p-toast-message-content {
        padding: .5rem !important;
    
        svg {
            margin-top: 4px !important;
        }
    }
    
    .p-toast-message-text {
        gap: 0 !important;
    }
}

.scroll::-webkit-scrollbar {
    width: 4px;
    height: 6px;
}

.scroll::-webkit-scrollbar-track {
    background: transparent;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #adb5bd;
    border-radius: 20px;
}

.p-paginator {
    padding: 0 !important;
    padding-top: 1rem !important;
}